{% include 'recipes/partials/head.html' %}

<body>
    {% include 'recipes/partials/header.html' %}

    <div class="search-container">
        <div class="container">
            <form action="" class="search-form">
                <input type="search" class="search-input" name="search">
                <button type="submit" class="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</body>

</html>

<div class="main-content main-content-list container">
    {% for recipe in recipes %}
    {% include 'recipes/partials/recipe.html' %}
    {% empty %}
    <div class="center m-y">
        <h1>No recipes found here 🥲</h1>
    </div>
    {% endfor %}
</div>